.card {

    // FUNCTIONALITY
    perspective: 150rem; // perspective needs to be added on the actual element, not the hover. It makes the rotation look like it's coming out at you.
    -moz-perspective: 150rem; // need this for it to work in firefox
    // the 150rem is found through experimentation. Basically, the lower the amount, the more dramatic the effect.
    position: relative;
    height: 50rem;

    &__side {
        // background-color: orangered;
        height: 50rem;
        color: white;
        font-size: 2rem;
        transition: all 0.8s ease;
        position: absolute; // the height shrank to 0 when we made position absolute. fix is to make parent the desired height.
        top: 0;
        left: 0;
        width: 100%; // the cards got really skinny when position set to absolute, this width fixes that.
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg); // was moving in the wrong direction so we made it -180
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        
        &--1 {
            background-image: linear-gradient(to right, rgba($color-secondary-light, 0.5), rgba($color-secondary-dark, 0.5)), 
                              url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right, rgba($color-secondary-light, 0.5), rgba($color-secondary-dark, 0.5)), 
            url(../img/nat-5.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right, rgba($color-secondary-light, 0.5), rgba($color-secondary-dark, 0.5)), 
            url(../img/nat-5.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 43%; // we decrease the h4 element width to scrunch the span which is a child of this h4 element
    }

    // %%%
    // doesn't belong inside of __heading b/c it is not a modifier. It is its own element.
    &__heading-span { 
        padding: 1rem 1.5rem;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
        }
    }
}