.card {
    perspective: 150rem; // perspective needs to be added on the actual element, not the hover. It makes the rotation look like it's coming out at you.
    -moz-perspective: 150rem; // need this for it to work in firefox
    // the 150rem is found through experimentation. Basically, the lower the amount, the more dramatic the effect.

    &__side {
        background-color: orangered;
        height: 50rem;
        transition: all 0.8s;
    }

    &:hover &__side {
        transform: rotateY(180deg);
    }
}