.composition {
    position: relative;

    &__photo {
        width: 55%; 
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 2rem; // works with the outline property below with creates a space around the element.

        &--p1 {
            left: 0;
            top: -2rem;
        }
        
        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary; // works like a border but allows us to use 'outline-offset' which we're using above.
            transform: scale(1.05);
            box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) { // when we hover over the composition, select all images but not the one that is hovered and scale it smaller.
       transform: scale(0.9);
    }
    
}